@import url("../styles.css");
.commandPrompt{
    position: absolute;
    width: 400px;
    color: white;
    z-index: 1;
}
.cmdArrowInput{
    background-color: transparent;
    color: white;
    outline: 0;
    border: 0;
    font-family: "Ubuntu Mono", monospace;
}
.cmdArrow{
    font-family: "Ubuntu Mono", monospace;

}
.dispatchCommand{
    display: flex;
    gap: 2px;
}
